<div>
  <h2>Signup</h2>
</div>
<div class="container">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">

    <div class="form-group">
      <div>First Name</div>
      <div><input type="text" value="" class="form-control" name="firstName" [ngModel]="firstName"/></div>
    </div>

    <div class="form-group">
      <div>Last Name</div>
      <div><input type="text" value="" class="form-control" name="lastName" [ngModel]="lastName"/></div>
    </div>

    <div ngModelGroup="address">
      <div class="form-group">
        <div>Address Line 1</div>
        <div><input type="text" value="" class="form-control" name="addressLine1" [ngModel]="addressLine1"/></div>
      </div>

      <div class="form-group">
        <div>Address Line 2</div>
        <div><input type="text" value="" class="form-control" name="addressLine2" [ngModel]="addressLine2"/></div>
      </div>

      <div class="form-group">
        <div>City</div>
        <div><input type="text" value="" class="form-control" name="city" [ngModel]="city"/></div>
      </div>

      <div class="form-group">
        <div>Zip</div>
        <div><input type="text" value="" class="form-control" name="zip" [ngModel]="zip"/></div>
      </div>      
    </div>

    <div class="form-group">
      <div>Phone Number</div>
      <div><input type="text" value="" class="form-control" name="phoneNumber" [ngModel]="phoneNumber"/></div>
    </div>

    <div class="form-group">
      <div>Email</div>
      <div><input type="text" value="" class="form-control" name="email" [ngModel]="email"/></div>
    </div>

    <div class="form-group">
      <div>Password</div>
      <div><input type="text" value="" class="form-control" name="password" [ngModel]="password"/></div>
    </div>

    <div class="form-group">
      <div>Confirm Password</div>
      <div><input type="text" value="" class="form-control" name="confirmPassword" [ngModel]="confirmPassword"/></div>
    </div>

    <button type="submit" class="btn btn-outline-dark">Submit</button>
  </form>
</div>