<div>
  <h2>Signup</h2>
</div>
<div>
  <form>
    <div>
      <div>First Name</div>
      <div><input type="text" value="" /></div>
    </div>
    <div>
      <div>Last Name</div>
      <div><input type="text" value="" /></div>
    </div>
    <div>
      <div>Address Line 1</div>
      <div><input type="text" value="" /></div>
    </div>
    <div>
      <div>Address Line 2</div>
      <div><input type="text" value="" /></div>
    </div>
    <div>
      <div>Zip</div>
      <div><input type="text" value="" /></div>
    </div>
    <div>
      <div>Phone Number</div>
      <div><input type="text" value="" /></div>
    </div>
    <div>
      <div>Password</div>
      <div><input type="text" value="" /></div>
    </div>
    <div>
      <div>Confirm Password</div>
      <div><input type="text" value="" /></div>
    </div>
  </form>
</div>